<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="archive" publicKeyToken="951c63ca832f7094" culture="neutral" />
        <bindingRedirect oldVersion="0.7.2.571-9999.9999.9999.9999" newVersion="0.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.111.0" newVersion="1.0.111.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
