<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tailviewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="SharpTail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <Tailviewer.Properties.Settings>
      <setting name="Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dwaawd" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dwaqwawd" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value/>
      </setting>
    </Tailviewer.Properties.Settings>
    <SharpTail.Properties.Settings>
      <setting name="Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value/>
      </setting>
    </SharpTail.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
