<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="metrolib" publicKeyToken="951c63ca832f7094" culture="neutral"/>
        <bindingRedirect oldVersion="0.3.0.0-9999.9999.9999.9999" newVersion="0.3.0.129"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Extensions" publicKeyToken="951c63ca832f7094" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9999.9999.9999.9999" newVersion="2.0.59.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tailviewer.Api" publicKeyToken="951c63ca832f7094" culture="neutral"/>
        <bindingRedirect oldVersion="0.7.2.571-9999.9999.9999.9999" newVersion="0.9.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tailviewer.Core" publicKeyToken="951c63ca832f7094" culture="neutral"/>
        <bindingRedirect oldVersion="0.7.2.571-9999.9999.9999.9999" newVersion="0.9.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="archive" publicKeyToken="951c63ca832f7094" culture="neutral" />
        <bindingRedirect oldVersion="0.7.2.571-9999.9999.9999.9999" newVersion="0.9.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
